<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>

public class Cat
{
<# for (var i = 1; i < 5; i++) { #>
public string Name<#=i#> {get;set;}
<# } #>
 public void Method()
    {
    }
}